attrs==23.2.0
backcall==0.2.0
bleach==6.1.0
certifi==2024.8.30
chardet==5.2.0
colorama==0.4.6
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.8
ipykernel==6.29.5
ipython==8.28.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
imageio==2.36.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jupyter==1.1.1
jupyter-client==8.6.2
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyterlab==4.2.5
jupyterlab-server==2.27.3
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.10.0
mistune==3.0.2
nbconvert==7.16.4
nbdime==4.0.1
nbformat==5.10.4
notebook==7.2.2
numpy==2.1.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.4.0
prometheus-client==0.21.0
prompt-toolkit==3.0.48
ptyprocess==0.7.0
Pygments==2.18.0
pyparsing==3.2.0
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pyzmq==26.2.0
qtconsole==5.6.1
requests==2.32.3
scipy==1.14.1
Send2Trash==1.8.3
six==1.16.0
smmap==5.0.1
terminado==0.18.1
testpath==0.6.0
tornado==6.4.1
traitlets==5.14.3
urllib3==2.2.3
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.13
